.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkContainer {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.check {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 250px;
}
